@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@1000&display=swap");

.Welcomepage {
  background: url("space.jpeg");
  height: 100vh;
  width: 100%;
}

.Welcome {
  display: flex;
  color: whitesmoke;
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 70%;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  font-size: 2em;
  left: 12em;
  bottom: 60%;
  font-weight: 700;
  text-transform: uppercase;
}

.Button {
  display: flex;
  width: 40%;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  left: 23em;
}
